<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link type="text/css" rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css"/>
<link type="text/css" rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
<script src="../js/bootstrap3/js/bootstrap.js"></script>
<script src="../js/bootstrap-bootbox/bootbox.js"></script>
<script src="../js/bootstrap-table/bootstrap-table.js"></script>
<script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<body>
<div class="containe">
    <form id="userForm">
        <div class="form-group">
            <div><h3>请确认订单信息</h3></div>
        </div>
        <div class="form-group">
            <div class="row">
                <!--选择收货地址-->
                <div class="col-md-2">
                    <label for="area">地址</label>
                </div>
                <div class="col-md-4" id="area">

                </div>
                <!--选择物流信息-->
                <div class="col-md-2">
                    <label for="wuliu">物流</label>
                </div>
                <div class="col-md-4" id="wuliu">

                </div>
                <!--设置备注-->
                <div class="col-md-2">
                    <label for="beizhu">备注</label>
                </div>
                <div class="col-md-4">
                    <textarea rows="10" cols="5" id="beizhu"></textarea>
                </div>
            </div>
            <!--默认物流信息-->
            <div class="form-group">
                <div><h5>默认顺丰物流</h5></div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    $(function(){
        initArea();
        initwuliu();
    })
    //初始化登录用户的收货地址
    function initArea(){
        $.ajax({
            url:'../findAddress',
            type:'get',
            data:{userId:userId},
            success:function(data){
                var htmll = "<input type='radio'/><span id='spans'></span>";
                for (var i = 0; i < data.length; i++) {
                    htmll+="<input type='radio' value='"+data.addressId+"'/>" +
                        "<span id='spans'>"+data.proviceName+"-"+data.cityNames+"-"+data.addressSpecific+"</span>";
                }
                $("#area").html(htmll);
            }
        })
    }
    //初始化物流信息
    function initwuliu(){
        $.ajax({
            url:'../findLogistics',
            type:'get',
            data:{},
            success:function(data){
                var html = "<input type='radio'/><span id='spans'></span>";
                for (var i = 0; i < data.length; i++) {
                    html+="<input type='radio' value='"+data.logisticsId+"'/>" +
                        "<span id='wl'>"+data.logisticsName+"</span>";
                }
                $("#wuliu").html(html);
            }
        })
    }

</script>
</html>