<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <link type="text/css" rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css"/>
    <link type="text/css" rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<style>
    #cen{
        background-image:url("../js/image/bj.jpg");
        background-size:100% 100%;
        background-attachment:fixed;
        background-repeat:no-repeat
    }
    #refBlock{
        margin-top: 40px;
        background-color: #effff4;
        height:450px;
        border-radius:15px;  /*div圆角*/
    }
    #logo{
        background-image:url("../js/image/logo1.jpg");
        background-size:100% 100%;
        background-attachment:fixed;
        background-repeat:no-repeat
    }
    #bao{
        background-image:url("../js/image/bao.jpg");
        background-size:100% 100%;
        background-attachment:fixed;
        background-repeat:no-repeat
    }
    #refFill{
        margin-top: 50px;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row" id="ding">
        <div class="col-md-12" style="height:70px">
            <div class="col-md-1" style="margin-top: 5px;height:60px;"></div>
            <div class="col-md-2" style="margin-top: 5px;height:60px;">
                <div class="row" id="logo"></div>
            </div>
            <div class="col-md-4" style="margin-top: 5px;height:60px;"></div>
            <div class="col-md-3" style="margin-top: 5px;height:60px;">
                <div class="row" id="bao"></div>
            </div>
            <div class="col-md-2" style="margin-top: 5px;height:60px;"></div>
        </div>
    </div>
    <div class="row" id="cen">
        <div class="col-md-8" style="height:578px"></div>
        <div class="col-md-3" style="height:578px">
            <div class="col-sm-12" id="refBlock">
                <div class="col-md-12">
                    <div style="margin-left: 210px">找到密码<a href="javascript:tologin()">去登陆</a></div>
                </div>
                <div class="row" id="refFill">
                    <div id='ref_box'>
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">用户账号 </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text"  placeholder="请输入账号" id="userPhone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="Float:left;height:30px">
                                        <table>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td><input type="button" class="form-control btn-default" value="获取验证码" onclick="findUpdPassword(this)"/></td>
                                                <td>&nbsp;&nbsp;&nbsp;</td>
                                                <td><input class="form-control" type="text" placeholder="请输入验证码" id="yzpassword"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">用户密码</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="password" placeholder="请输入密码" id="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">确认密码</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="password" placeholder="请输入确认密码" id="qrpassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-5 col-md-6">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="button" class="form-control btn-default" value="确定" onclick="updatepwd()"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1" style="height:578px"></div>
    </div>
    <div class="row" id="di">
        <div class="col-md-12" style="background-color: #ffffff;height:70px">
            <div class="col-md-4" style="height:70px"></div>
            <div class="col-md-5" style="height:70px">
                <div style="margin-top: 25px">Copyright 2019-2029 vip.com，All Rights Reserved ICP证：京 B1-20190415</div>
            </div>
            <div class="col-md-3" style="height:70px"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    //去登录页面
    function tologin(){
        window.location.href="../page/toLogin";
    }

    //定义按钮点击相关变量
    var clock = '';
    var nums = 10;
    var btn;
    //获取验证码
    function findUpdPassword(thisBtn){
        var userPhone = $("#userPhone").val();
        if(userPhone == null || userPhone == ''){
            alert("手机号不能为空");
            return;
        }
        if (userPhone.length!=11) {
            alert("手机号输入有误");
            return;
        }

        btn = thisBtn;
        btn.disabled = true; //将按钮置为不可点击
        btn.value = nums+'秒后可重新获取';
        clock = setInterval(doLoop, 1000); //一秒执行一次
        //发起获取请求
        $.ajax({
            url:'../findUpdPassword',
            type:'get',
            data:{userPhone:userPhone},
            dataType:'json',
            async: false,
            success:function(data){
                //返回值不是0，属于没有获取成功
                if(data.code != 0){
                    alert(data.msg);
                }else{
                    alert("短信已发送至手机，请注意查收");
                }
            }
        })
    }
    //按钮点击时间
    function doLoop(){
        nums--;
        if(nums > 0){
            btn.value = nums+'秒后可重新获取';
        }else{
            clearInterval(clock); //清除js定时器
            btn.disabled = false;
            btn.value = '获取验证码';
            nums = 10; //重置时间
        }
    }
    //修改密码
    function updatepwd(){
        var userPhone = $("#userPhone").val();
        var yzpassword = $("#yzpassword").val();
        var password = $("#password").val();
        var qrpassword = $("#qrpassword").val();
        if(userPhone == null || userPhone == ''){
            alert("请输入手机号");
            return;
        }
        if(yzpassword == null || yzpassword == ''){
            alert("请输入验证码");
            return;
        }
        if(password == null || password == ''){
            alert("请输入密码");
            return;
        }
        if(qrpassword == null || qrpassword == ''){
            alert("请输入确认密码");
            return;
        }
        if(qrpassword != password ){
            alert("两次密码不一致");
            return;
        }
        if((qrpassword != password)||(userPhone == null || userPhone == '')||(yzpassword == null || yzpassword == '')||(password == null || password == '')||(qrpassword == null || qrpassword == '')){
            return;
        }

        $.ajax({
            url:'../updateUserByPassword',
            type:'get',
            data:{
                userPhone:userPhone,
                yzpassword:yzpassword,
                password:password
            },
            dataType:'json',
            success:function(data){
                if(data.code != 0){
                    alert(data.msg);
                }else{
                    alert("修改成功,点击去登陆");
                    tologin();
                }
            }
        })
    }

</script>
</html>