<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晨凯页面后台到前台数据展示</title>
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div id="gck">
    <div class="shop shop1">
        <img src="../static/images/book/23924582-1_l_5.jpg" height="150" width="150"/>
        <a id="name" href="#">图片详情</a>
        <span>￥308.40</span>
        <a id="close" href="#"><img src="../images/tou/close.png" height="32" width="32"/></a>
    </div>
    <div class="shop shop2">
        <img src="../static/images/book/24146651-1_l_11.jpg" height="150" width="150"/>
        <a id="name" href="#">图片详情？</a>
        <span>￥38.50</span>
        <a id="close" href="#"><img src="img/tou/close.png" alt="" /></a>
    </div>
    <div class="shop shop3">
        <img src="img\book\24182325-1_l_2.jpg" alt="" />
        <a id="name" href="#">图片详情</a>
        <span>￥68.000</span>
        <a id="close" href="#"><img src="img/tou/close.png" alt="" /></a>
    </div>
    <div class="shop shop4">
        <img src="img\book\24172747-1_l_5.jpg" alt="" />
        <a id="name" href="#">图片详情</a>
        <span>￥286.60</span>
        <a id="close" href="#"><img src="img/tou/close.png" alt="" /></a>
    </div>
    <div class="shop shop5">
        <img src="img\book\24161172-1_l_8.jpg" alt="" />
        <a id="name" href="#">图片详情</a>
        <span>￥73.60</span>
        <a id="close" href="#"><img src="img/tou/close.png" alt="" /></a>
    </div>
    <div class="shop shop6">
        <img src="img\book\24162366-1_l_10.jpg" alt="" />
        <a id="name" href="#">图片详情</a>
        <span>￥41.80</span>
        <a id="close" href="#"><img src="img/tou/close.png" alt="" /></a>
    </div>
</div>
</body>
</html>